## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
def print_table():

    start = 1
    end = 10

    # Iterate through numbers 1 to 10 for creating tables
    for i in range(start, end + 1):
        print(f"Multiplication Table for {i}")
        for j in range(start, end + 1):
            print(f"{i} x {j} = {i * j}")
        print()
print_table()

Multiplication Table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication Table for 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table for 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication Table for 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication Table for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
def create_combined_list(l1, l2):
    # Initialize an empty list
    l3 = []


    for i in range(len(l1)):
        # Pick odd-index elements from l1
        if i % 2 != 0:
            l3.append(l1[i])

    for j in range(len(l2)):
        # Pick even-index elements from l2
        if j % 2 == 0:
            l3.append(l2[j])

    return l3

# Example lists
l1 = [1, 2, 3, 4, 5, 6]
l2 = ['a', 'b', 'c', 'd', 'e', 'f']

# Create the third list
l3 = create_combined_list(l1, l2)

# Print the result
print("List l1:", l1)
print("List l2:", l2)
print("Combined list l3:", l3)

List l1: [1, 2, 3, 4, 5, 6]
List l2: ['a', 'b', 'c', 'd', 'e', 'f']
Combined list l3: [2, 4, 6, 'a', 'c', 'e']

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:

rows = 8


for i in range(rows):

    print(' ' * (2 * i), end='')

    print('* ' * (rows - i))

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(base, exp):
    result = 1
    for _ in range(exp):
        result *= base
    return result

base=int(input("Enter the base: "))
exp=int(input("Enter the exponent: "))
result = exponent(base, exp)
print(f"{base} raises to the power of {exponent} is: {result}")

Enter the base: 5
Enter the exponent: 5
5 raises to the power of <function exponent at 0x7868a23e9d80> is: 3125

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
def new_file_by_skip(input_file, output_file, line_skip):
    try:

        with open(input_file, 'r') as infile:

            with open(output_file, 'w') as outfile:

                for line_number, line in enumerate(infile, start=1):

                    if line_number != line_skip:
                        outfile.write(line)
        print(f"Content has been copied to '{output_file}' with line {line_skip} skipped.")
    except FileNotFoundError:
        print(f"Error: The file '{input_file}' does not exist.")
    except IOError as e:
        print(f"An I/O error occurred: {e}")


input_file = 'test.txt'
output_file = 'output.txt'
line_to_skip = 5


new_file_by_skip(input_file, output_file, line_to_skip)

Content has been copied to 'output.txt' with line 5 skipped.

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
def main():
    user_input = input("Enter three words/character separated by spaces: ")


    names = user_input.split()

    if len(names) != 3:
        print("Please enter exactly three names.")
    else:
        for name in names:
            print(name)

if __name__ == "__main__":
    main()

Enter three words/character separated by spaces: i i i
i
i
i

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
def show_employee(name, salary=9000):

    print(f"Name: {name} salary: {salary}")


show_employee("Bill Gates", 12000)
show_employee("Elon Musk", 9000)

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
import re

def find_words_with_letters_and_digits(input_string):

    words = input_string.split()

    result = []

    found_digit = False

    for word in words:
        if re.search(r'[a-zA-Z]', word) and re.search(r'\d', word):
            result.append(word)
            found_digit = True
        else:
            if not re.search(r'\d', word):
                print(f"Error: The word '{word}' does not contain any numbers.")

    return result, found_digit

def main():
    while True:
        user_input = input("Enter a string with words containing letters and digits: ")

        words_with_letters_and_digits, found_digit = find_words_with_letters_and_digits(user_input)

        if words_with_letters_and_digits:
            print("Words containing both letters and digits:")
            for word in words_with_letters_and_digits:
                print(word)
            break
        else:
            if not found_digit:
                print("Error: No words with digits found. Please try again.")
            else:
                print("No words with both letters and digits found. Please try again.")

if __name__ == "__main__":
    main()

Enter a string with words containing letters and digits: iam
Error: The word 'iam' does not contain any numbers.
Error: No words with digits found. Please try again.
Enter a string with words containing letters and digits: ian77 ryley
Error: The word 'ryley' does not contain any numbers.
Words containing both letters and digits:
ian77

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [49]:
import re

def substitute_special_characters(input_string):

    processed_string = re.sub(r'[^a-zA-Z0-9\s]', '#', input_string)

    return processed_string

def main():
    user_input = input("Enter a string with special characters: ")

    result = substitute_special_characters(user_input)

    print("Processed string:", result)

if __name__ == "__main__":
    main()

KeyboardInterrupt: Interrupted by user

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [51]:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result_set = {(x, y) for x in first_list for y in second_list if y == x**2}

print("Result is", result_set)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [56]:
setA = set(int(x) for x in input("Enter 5 elements in set A (separated by spaces): ").split())
setB = set(int(x) for x in input("Enter 5 elements in set B (separated by spaces): ").split())
if len(setA) != 5 or len(setB) != 5:
  print("Please enter 5 elements in each set!")
else:
  print("A-B =", setA-setB)
  print("B-A =", setB-setA)
  print("A∩B =", setA&setB)
  print("A∪B =", setA|setB)

Enter 5 elements in set A (separated by spaces): 12 35 25 39 14
Enter 5 elements in set B (separated by spaces): 14 54 29 39 12
A-B = {25, 35}
B-A = {29, 54}
A∩B = {12, 14, 39}
A∪B = {35, 39, 12, 14, 54, 25, 29}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [63]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def __repr__(self):
      return f"Vehicle(max_speed={self.max_speed}, mileage={self.mileage})"
print(Vehicle(200, 10000))

Vehicle(max_speed=200, mileage=10000)

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [64]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def __repr__(self):
        return f"Vehicle(max_speed={self.max_speed}, mileage={self.mileage})"

class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity):
        super().__init__(max_speed, mileage)
        self.seating_capacity = seating_capacity

    def __repr__(self):
        return f"Bus(max_speed={self.max_speed}, mileage={self.mileage}, seating_capacity={self.seating_capacity})"


my_bus = Bus(max_speed=80, mileage=50000, seating_capacity=50)


print(my_bus)

Bus(max_speed=80, mileage=50000, seating_capacity=50)

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [70]:

class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_limit(self, limit):
        return f"The seating capacity of this {self.name} is {limit} passengers"


class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage):
        super().__init__(name, max_speed, mileage)

    def seating_limit(self, limit=50):
        return f"The seating capacity of this {self.name} is {limit} passengers"

this_bus = Bus(name="bus", max_speed=80, mileage=50000)

print(this_bus.seating_limit())

The seating capacity of this bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [73]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fee(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        base_fee = super().fee()
        maintenance_fee = base_fee * 0.10
        total_fee = base_fee + maintenance_fee
        return total_fee

School_bus = Bus("School bus", 12, 50)

print("Total Bus fee is:", School_bus.fare())

Total Bus fee is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [75]:
import json

data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [77]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}

json_data_sorted = json.dumps(sampleJson, sort_keys=True, indent=2)

file_name = 'sorted_json.json'

with open(file_name, 'w') as file:
    file.write(json_data_sorted)

print("Sorted JSON has been written to {text.txt}")

Sorted JSON has been written to {text.txt}